#root {
    height: 100%;
    --borderColor: rgb(157, 219, 157);
    --boxShadowColor: rgba(157, 219, 157,.5);
    --mixColor: rgba(216, 216, 19, .25);
    --mainFontColor: rgb(133, 79, 21);
    --backGroundColor: rgba(157, 219, 157, .75);
    --linkVisitedColor: rgb(180, 158, 127);
    --blackBackground: rgb(0 ,0 , 0);
    --softBoneWhite: rgb(249, 246, 238, .5);
  }

   body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(249, 246, 238, .25);
  }


  /* .navbar {
    background-color: var(--blackBackground);
  } */

  #basic-nav-dropdown {
    color: white;

  }
  
  .white-text {
    color: white;
    margin-right: 30px;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  
  .profilepic {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    height: 350px;
  }

.hero-btn {
  border: 3px solid black;
}



.contact-btn {
  border: 3px solid black;
  margin-top: 10px;
  width: 150px;
}